<p id="notice"><%= notice %></p>

<h1>User Track Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_track_logs.each do |user_track_log| %>
      <tr>
        <td><%= user_track_log.user_id %></td>
        <td><%= user_track_log.user_name %></td>
        <td><%= link_to 'Show', user_track_log %></td>
        <td><%= link_to 'Edit', edit_user_track_log_path(user_track_log) %></td>
        <td><%= link_to 'Destroy', user_track_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Track Log', new_user_track_log_path %>
